{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style>
    .elementor-field-group {
        margin-bottom: 10px !important;
    }

    .elementor-field-textual {
        font-size: 1rem !important;
        font-weight: 600 !important;
    }
</style>
<main id="main" class="site-main hfeed content-wide">
    <div class="ct-container" data-v-spacing="top:bottom" data-structure="elementor:wide">
        <section>
            <article id="post-247" class="post-247 page type-page status-publish hentry">
                <div class="ct-builder-content">
                    <div data-elementor-type="wp-page" data-elementor-id="247" class="elementor elementor-247"
                        data-elementor-settings="[]">
                        <div class="elementor-section-wrap">
                            <section
                                class="has_ae_slider ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-d6281e2 elementor-section-full_width elementor-section-content-middle ct-section-stretched elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default"
                                data-id="d6281e2" data-element_type="section"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="has_ae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8f230a5 ae-bg-gallery-type-default"
                                        data-id="8f230a5" data-element_type="column"
                                        data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-bedcbc1 ob-harakiri-inherit elementor-widget elementor-widget-heading"
                                                data-id="bedcbc1" data-element_type="widget"
                                                data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h1 class="elementor-heading-title elementor-size-default">
                                                        Sign up to Drive</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="has_ae_slider ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-91cb6fc elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default"
                                data-id="91cb6fc" data-element_type="section"
                                data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="has_ae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-46c2a6e ae-bg-gallery-type-default"
                                        data-id="46c2a6e" data-element_type="column"
                                        data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">

                                            <section
                                                class="has_ae_slider ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-b28db53 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default"
                                                data-id="b28db53" data-element_type="section"
                                                data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="has_ae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-eeea0c0 ae-bg-gallery-type-default"
                                                            data-id="eeea0c0" data-element_type="column"
                                                            data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-2723591 elementor-button-align-start elementor-mobile-button-align-stretch elementor-widget elementor-widget-form"
                                                                        data-id="2723591" data-element_type="widget"
                                                                        data-settings="{&quot;button_width_mobile&quot;:&quot;100&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
                                                                        data-widget_type="form.default">
                                                                        <div class="elementor-widget-container">
                                                                            <form class="elementor-form" method="post"
                                                                                name="drive">
                                                                                <div
                                                                                    class="elementor-form-fields-wrapper elementor-labels-">
                                                                                    <div
                                                                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                                                        <label for="form-field-name"
                                                                                            class="elementor-field-label elementor-screen-only">Name</label><input
                                                                                            size="1" type="text"
                                                                                            name="form_fields[name]"
                                                                                            id="form-field-name"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            placeholder="Name*">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                                                                                        <label for="form-field-email"
                                                                                            class="elementor-field-label elementor-screen-only">Surname</label><input
                                                                                            size="1" type="text"
                                                                                            name="form_fields[email]"
                                                                                            id="form-field-email"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            placeholder="Surname*"
                                                                                            required="required"
                                                                                            aria-required="true">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-phone elementor-col-100 elementor-field-required">
                                                                                        <label for="form-field-phone"
                                                                                            class="elementor-field-label elementor-screen-only">Telephone</label><input
                                                                                            size="1" type="tel"
                                                                                            name="form_fields[phone]"
                                                                                            id="form-field-phone"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            placeholder="Telephone*"
                                                                                            required="required"
                                                                                            aria-required="true"
                                                                                            pattern="[0-9()#&amp;+*-=.]+"
                                                                                            title="Only numbers and phone characters (#, -, *, etc) are accepted.">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                                                                                        <label for="form-field-email"
                                                                                            class="elementor-field-label elementor-screen-only">Email</label><input
                                                                                            size="1" type="email"
                                                                                            name="form_fields[email]"
                                                                                            id="form-field-email"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            placeholder="Email*"
                                                                                            required="required"
                                                                                            aria-required="true">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-hidden elementor-field-group elementor-column elementor-field-group-city elementor-col-100">
                                                                                        <input size="1" type="hidden"
                                                                                            name="form_fields[city]"
                                                                                            id="form-field-city"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            value="durban">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-country elementor-col-100 elementor-field-required">
                                                                                        <label for="form-field-country"
                                                                                            class="elementor-field-label elementor-screen-only">Country</label><input
                                                                                            size="1" type="text"
                                                                                            name="form_fields[country]"
                                                                                            id="form-field-country"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            placeholder="Country*"
                                                                                            required="required"
                                                                                            aria-required="true">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-address elementor-col-100 elementor-field-required">
                                                                                        <label for="form-field-address"
                                                                                            class="elementor-field-label elementor-screen-only">Address</label><input
                                                                                            size="1" type="text"
                                                                                            name="form_fields[address]"
                                                                                            id="form-field-address"
                                                                                            class="elementor-field elementor-size-lg  elementor-field-textual"
                                                                                            placeholder="Address*"
                                                                                            required="required"
                                                                                            aria-required="true">
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-educationLevel elementor-col-100 elementor-field-required">
                                                                                        <label
                                                                                            for="form-field-educationLevel"
                                                                                            class="elementor-field-label elementor-screen-only">Educational
                                                                                            Level</label>
                                                                                        <div
                                                                                            class="elementor-field elementor-select-wrapper ">
                                                                                            <select
                                                                                                name="form_fields[educationLevel]"
                                                                                                id="form-field-educationLevel"
                                                                                                class="elementor-field-textual elementor-size-lg"
                                                                                                required="required"
                                                                                                aria-required="true">
                                                                                                <option value="">
                                                                                                    Educational Level*
                                                                                                </option>
                                                                                                <option value="BSC">BSC
                                                                                                </option>
                                                                                                <option value="HND">HND
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-driverLicenseYear elementor-col-100 elementor-field-required">
                                                                                        <label
                                                                                            for="form-field-driverLicenseYear"
                                                                                            class="elementor-field-label elementor-screen-only">How
                                                                                            long have you had a valid
                                                                                            driver’s license</label>
                                                                                        <div
                                                                                            class="elementor-field elementor-select-wrapper ">
                                                                                            <select
                                                                                                name="form_fields[driverLicenseYear]"
                                                                                                id="form-field-driverLicenseYear"
                                                                                                class="elementor-field-textual elementor-size-lg"
                                                                                                required="required"
                                                                                                aria-required="true">
                                                                                                <option value="">How
                                                                                                    long have you had a
                                                                                                    valid driver’s
                                                                                                    license?*</option>
                                                                                                <option value="1 Year">1
                                                                                                    Year</option>
                                                                                                <option value="2 Years">
                                                                                                    2 Years</option>
                                                                                                <option value="3 years">
                                                                                                    3 years</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-uberDriver elementor-col-100 elementor-field-required">
                                                                                        <label
                                                                                            for="form-field-uberDriver"
                                                                                            class="elementor-field-label elementor-screen-only">Have
                                                                                            you ever driven on Uber or
                                                                                            any other e-hailing
                                                                                            platform?</label>
                                                                                        <div
                                                                                            class="elementor-field elementor-select-wrapper ">
                                                                                            <select
                                                                                                name="form_fields[uberDriver]"
                                                                                                id="form-field-uberDriver"
                                                                                                class="elementor-field-textual elementor-size-lg"
                                                                                                required="required"
                                                                                                aria-required="true">
                                                                                                <option value="">Have
                                                                                                    you ever driven on
                                                                                                    Uber or any other
                                                                                                    e-hailing platform?*
                                                                                                </option>
                                                                                                <option value="No">No
                                                                                                </option>
                                                                                                <option value="Yes">Yes
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-hearAboutUs elementor-col-100 elementor-field-required">
                                                                                        <label
                                                                                            for="form-field-hearAboutUs"
                                                                                            class="elementor-field-label elementor-screen-only">How
                                                                                            did you hear about
                                                                                            Moove?</label>
                                                                                        <div
                                                                                            class="elementor-field elementor-select-wrapper ">
                                                                                            <select
                                                                                                name="form_fields[hearAboutUs]"
                                                                                                id="form-field-hearAboutUs"
                                                                                                class="elementor-field-textual elementor-size-lg"
                                                                                                required="required"
                                                                                                aria-required="true">
                                                                                                <option value="">How did
                                                                                                    you hear about
                                                                                                    Moove?</option>
                                                                                                <option
                                                                                                    value="Facebook">
                                                                                                    Facebook</option>
                                                                                                <option
                                                                                                    value="Instagram">
                                                                                                    Instagram</option>
                                                                                                <option value="Google">
                                                                                                    Google</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons elementor-sm-100">
                                                                                        <button type="submit"
                                                                                            class="elementor-button elementor-size-xs">
                                                                                            <span>
                                                                                                <span
                                                                                                    class=" elementor-button-icon">
                                                                                                </span>
                                                                                                <span
                                                                                                    class="elementor-button-text">Start
                                                                                                    Driving Now</span>
                                                                                            </span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="has_ae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-993a4bd ae-bg-gallery-type-default"
                                                            data-id="993a4bd" data-element_type="column"
                                                            data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
                                                            <div class="elementor-column-wrap">
                                                                <div class="elementor-widget-wrap"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section
                                                class="has_ae_slider ob-is-breaking-bad elementor-section elementor-inner-section elementor-element elementor-element-271284e elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default"
                                                data-id="271284e" data-element_type="section"
                                                data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="has_ae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d439f9 ae-bg-gallery-type-default"
                                                        data-id="6d439f9" data-element_type="column"
                                                        data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;}">
                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                            <div class="elementor-element elementor-element-8c72a21 ob-harakiri-inherit elementor-widget elementor-widget-text-editor"
                                                                data-id="8c72a21" data-element_type="widget"
                                                                data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        All fields marked (*) must be completed
                                                                        to continue</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="has_ae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0056f1a ae-bg-gallery-type-default"
                                                        data-id="0056f1a" data-element_type="column"
                                                        data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;}">
                                                        <div class="elementor-widget-wrap"></div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</main>
</div>
<div class="ct-drawer-canvas">
    <div id="offcanvas" class="ct-panel ct-header" data-behaviour="right-side" data-device="mobile">
        <section>
            <div class="ct-panel-actions">
                <div class="close-button">
                    <span class="ct-trigger closed">
                        <span></span>
                    </span>
                </div>
            </div>
            <div class="ct-panel-content" data-device="desktop"></div>
            <div class="ct-panel-content" data-device="mobile">
                <nav class="mobile-menu" data-id="mobile-menu" data-type="type-1">
                    <ul>
                        <li class="page_item page-item-142"><a href="https://moove.africa/car-cards/">Car +
                                Testimonials Cards</a></li>
                        <li class="page_item page-item-1548"><a href="https://moove.africa/faqs/">FAQs</a></li>
                        <li class="page_item page-item-787"><a href="https://moove.africa/its-time-to-moove/">It’s
                                time to Moove</a></li>
                        <li class="page_item page-item-420"><a href="https://moove.africa/">Moove &#8211; Home</a>
                        </li>
                        <li class="page_item page-item-754"><a href="https://moove.africa/my-sample/">my sample</a>
                        </li>
                        <li class="page_item page-item-1086"><a href="https://moove.africa/our-cars/">Our Cars</a>
                        </li>
                        <li class="page_item page-item-2794"><a href="https://moove.africa/press-release/">Press
                                Release</a></li>
                        <li class="page_item page-item-247 current_page_item current-menu-item"><a
                                href="https://moove.africa/sign-up-to-drive/" aria-current="page">Sign up to
                                Drive</a></li>
                        <li class="page_item page-item-390"><a href="https://moove.africa/sign-up-to-moove/">Sign up
                                to Moove</a></li>
                        <li class="page_item page-item-310"><a href="https://moove.africa/slider/">Slider</a></li>
                        <li class="page_item page-item-1090"><a
                                href="https://moove.africa/testimonials/">Testimonials</a></li>
                        <li class="page_item page-item-2750"><a href="https://moove.africa/go/">UberGo</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</div>
{% endblock %}